


header, nav{
    height: 30px;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.grey {
    background: grey;
}


.orange {
    background: orange;
}

.purple {
    background: purple;
}

.turquoise {
    background: turquoise;
}

.greenyellow{
    background: greenyellow
}

.bisque{
    background: bisque;
}